<div class="container mt-5">
  <div class="row no-gutters mb-1">
    <div class="col-md-9 mx-md-auto">
      <h5 class="font-weight-bold">Projects</h5>
    </div>
  </div>

  <div class="row no-gutters mb-1">
    <div class="col-md-9 mx-md-auto">
      <tdl-messages></tdl-messages>
    </div>
  </div>

  <div class="toggle" ng-repeat="project in $ctrl.projects track by project.id">
    <tdl-project-container>
      <tdl-edit-project-form
        project="project"  
        update-project="$ctrl.updateProject($index, params)"
      ></tdl-edit-project-form>
  
      <tdl-project
        project="project"
        delete-project="$ctrl.deleteProject($index, params)"
      ></tdl-project>
    </tdl-project-container>
  </div>

  <tdl-add-project-form
    create-project="$ctrl.createProject(params)"
  ></tdl-add-project-form>
</div>
